# Server Configuration
PORT=3001
JWT_SECRET=super_secret_key_123

# Email configuration
# For Gmail, you MUST use an App Password: https://support.google.com/accounts/answer/185833
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_gmail_app_password
